# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Spring Boot Project\learn-microservices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
